/* BODY */
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* HEADER */
header {
  width: 900px;;
  height: 100px;
  margin: 0px;
  padding-top: 15px;
}

header a img {
  float: left;
}

header a ul {
  margin-top: 0;
}

header section {
  float: right;
  margin: 0;
}

header section ul {
  display: inline-block;
}
header section li {
  display: inline-block;
}

hr {
  background-image: url(img/hr-img.png); 
  height: 20px;
  width: 900px;
}
/* MAIN BODY */
main.center {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  width: 900px;
}

div.hero-header {
  margin-top: 20px;
}

div h1 {
  font-size: 30px;
}

div h4 {
  font-size: 10px;
}

main p {
  text-indent: 50px;
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}

main div form {
  background-image: URL("img/list-bg.png");

}


main div h1 {
  font-size: 30px;
}

main div p {
  text-indent: 0px;
  font-size: 20px;
  line-height: 30px;
}

main div img {
  float: left;
}
main div div {
  width: 500px;
}

main div button {
  border: none;
  padding: 10px 30px;
  background:#BC7058;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 350ms;
  height: 70px;
  width: 200px;
  float: right;
}

footer hr {
  background-image: url(img/hr-img.png); 
  margin: 0px;
  height: 5px;
  width: 900px;
}

footer div {
  text-align: center;
}

header h1 {
  font-family: "yellowtailregular";
  font-size: 48px;
}

